numpy
gym
gym[atari]
gym[accept-rom-license]
cython
PyOpenGL-accelerate
hydra-core
protobuf
wandb
dm_control
opencv-python
kornia
imageio
imageio[ffmpeg]
imageio[pyav]
ray
torchrl
colorednoise
git+https://gitclone.com/github.com/jan1854/dmc2gym.git
